<div class="container">
<div ng-include="'views/nav/nav-bar.html'"></div>
<div style="margin-top:36px">
  <div class="columns">
    <div class="column is-2">
      <div ng-include="'views/core/admin/sidebar-inner.html'"></div>
    </div>
    <div class="column">
      <div class="field">
        <p class="control has-icons-left">
        <input class="input" ng-model="search" placeholder="Type here to filter by username" />
        <span class="icon is-small is-left">
            <i class="fa fa-filter"></i>
          </span>
      </p>
      </div>

      <table class="table is-fullwidth">
        <thead>
          <tr style="text-transform:uppercase; font-size:14px;">
            <th>#</th>
            <th>UserName</th>
            <th>Department</th>
            <th>Active</th>
            <th>Added on</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.users | filter: search" style="font-size:15px">
            <td>
              {{$index + 1}}
            </td>
            <td style="text-transform: capitalize">{{user.uname}}</td>
            <td style="text-transform: capitalize">{{user.name}}</td>
            <td style="text-transform: capitalize">{{user.active}}</td>
            <td style="text-transform: capitalize">{{user.created_on | date: 'EEEE, LLLL d yyyy @ h:mm:ss a'}}</td>
            <td><a style="color: #1F78D1" ng-href="#!/admin/users/ldap/{{user.dn}}">View Apps</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
