<div class="container is-fluid">
<div ng-include="'views/nav/nav-bar.html'"></div>

<div class="level" style="margin-top:24px;">
  <div class="level-left"></div>
  <div class="level-right">
    <a href="#!/dashboard/apps/cea/new/employee"
       class="button is-primary" ng-if="vm.canCreate">Add Employee</a>
  </div>
</div>
<div class="columns">
    <div class="column is-2" ng-include="'views/apps/cea/side-menu.html'"></div>
    <div class="column is-10">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Filter officers by name" ng-model="search">
        </div>
      </div>
      <table class="table is-fullwidth">
        <thead>
          <tr style="text-transform:uppercase; font-size:14px;">
            <th>name</th>
            <th>post/division</th>
            <th>contract period</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size:15px;cursor:pointer" ng-repeat="employee in vm.employees | filter:search">
            <td style="text-transform: capitalize" title="{{employee.name}}">{{employee.name}}</td>
            <td style="text-transform: capitalize" title="{{employee.position}}">{{employee.position}} - {{employee.title}}</td>
            <td>{{employee.start_date | date: 'MMM d, yyyy'}} - {{employee.end_date | date: 'MMM d, yyyy'}}</td>
            <td><a ng-href="#!/dashboard/apps/cea/contract-employees/{{employee.id}}/edit" style="color: #1F78D1">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

</div>
