<div ng-include="'views/nav/nav-bar.html'"></div>
<div style="height:24px;margin-top:12px;margin-bottom:6px"></div>
<div class="notification-area">
  <div ng-class="{'notification is-primary': vm.message.success, 'notification is-danger': !vm.message.success}"
       ng-show="vm.notification.show">
    {{vm.notification.text}}
  </div>
</div>
<div class="columns">
  <div class="column is-2" ng-include="'views/apps/tod/side-menu.html'"></div>
  <div class="column is-7">


    <h1 class="subtitle is-4" style="margin-top:-15px;">
      Edit Traveling Officer
    </h1>
    <form novalidate name="officerForm" class="officer-form">
      <div class="box">
        <div class="level">
          <div class="level-left">
            <h1 class="subtitle is-5">Employee Details</h1>
          </div>
          <div class="level-right">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-primary"
                    ng-disabled="vm.disabled"
                   ng-click="vm.update('employee')">
                  Update
                </a>
              </p>
            </div>
          </div>
        </div>

        <hr />
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field is-grouped">
              <p class="control is-expanded has-icons-left">
                <input class="input form-ctrl"
                       type="text"
                       ng-model="vm.officer.name"
                       ng-disabled="vm.disabled"
                       placeholder="e.g. Juliet Wright-Brown">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Email</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input"
                       type="text"
                       placeholder="e.g.juliet.wright-brown@megjc.gov.jm"
                       ng-disabled="vm.disabled"
                       ng-model="vm.officer.email">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Classification</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select ng-model="vm.selectedClassification"
                          ng-change="vm.getSelectedClassification()"
                          ng-disabled="vm.disabled"
                          ng-options="classification.title for classification in vm.classifications">
                    <option value="">Select Classification</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Position</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input"
                       type="text" ng-model="vm.officer.position"
                       ng-disabled="vm.disabled"
                       placeholder="e.g. Director">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Assigned To</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth">
                  <select ng-model="vm.selectedActivity"
                          ng-change="vm.getSelectedActivity()"
                          ng-disabled="vm.disabled"
                          ng-options="activity.title for activity in vm.activities">
                    <option value="">Select Department</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Allowance</label>
        </div>
        <div class="field-body">
          <div class="field is-narrow">
            <div class="control">
              <div class="select is-fullwidth">
                <select ng-model="vm.selectedAllowance"
                        ng-change="vm.getSelectedAllowance()"
                        ng-disabled="vm.disabled"
                        ng-options="allowance.title for allowance in vm.allowances">
                  <option value="">Select Allowance</option>
                </select>
              </div>
              <p class="help" style="font-size:14px; color:#276CDA">Upon selection, you will be required to enter details of the employee's vehicle and documents.</p>
            </div>
          </div>
        </div>
      </div>

      </div>

      <div class="box" ng-if="vm.addVehicle">
        <div class="level">
            <div class="level-left">
              <h1 class="subtitle is-5">Vehicle Details - <small>No vehicle is associated with <strong>{{vm.officer.name}}.</strong></small></h1>
            </div>
            <div class="level-right">
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-primary" ng-click="vm.createVehicle(vm.officer.id)">
                    Add Vehicle
                  </a>
                </p>
              </div>
            </div>
          </div>
      </div>

      <div class="box" ng-if="!vm.addVehicle">
        <div class="level">
          <div class="level-left">
            <h1 class="subtitle is-5">Vehicle Details</h1>
          </div>
          <div class="level-right">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-primary"
                   ng-disabled="vm.disabled"
                   ng-click="vm.updateVehicle()">
                  Update
                </a>
              </p>
            </div>
          </div>
        </div>
        <hr />

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">License Plate</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                       type="text"
                       ng-model="vm.officer.plate"
                       placeholder="e.g. 2525AD"
                       ng-disabled="vm.disabled"
                       maxlength=6>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Make</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                       type="text"
                       ng-model="vm.officer.make"
                       ng-disabled="vm.disabled"
                       placeholder="e.g. Honda">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Model</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                       type="text"
                       ng-model="vm.officer.model"
                       ng-disabled="vm.disabled"
                       placeholder="e.g. Civic">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Year</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                       type="text"
                       ng-model="vm.officer.vehicle_year"
                       placeholder="e.g. 2002"
                       ng-disabled="vm.disabled"
                       maxlength=4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="level">
          <div class="level-left">
            <h1 class="subtitle is-5">Vehicle Document Expiry Dates</h1>
          </div>
          <div class="level-right"></div>
        </div>
        <hr />
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Driver's License</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                       type="date"
                       ng-disabled="vm.disabled"
                       ng-model="vm.officer.license">
                       <a class="button is-primary"
                       ng-disabled="vm.disabled"
                       ng-click="vm.updateDoc(vm.officer.docs[0].id, vm.officer.license, vm.officer.id)">
                       Update</a>
              </div>

              <p class="help" style="font-size:14px; color:#276CDA">The expiry date of the employee's driver's license.</p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Fitness</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input
                       form-ctrl-date"
                       type="date"
                       ng-disabled="vm.disabled"
                       ng-model="vm.officer.fitness">
                <a class="button is-primary"
                   ng-disabled="vm.disabled"
                   ng-click="vm.updateDoc(vm.officer.docs[1].id, vm.officer.fitness, vm.officer.id)">
                   Update</a>
                <p class="help" style="font-size:14px; color:#276CDA">The expiry date of the vehicle's fitness certificate.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Registration</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                       ng-disabled="vm.disabled"
                       type="date" ng-model="vm.officer.registration">
                <a class="button is-primary"
                          ng-disabled="vm.disabled"
                          ng-click="vm.updateDoc(vm.officer.docs[2].id, vm.officer.registration, vm.officer.id)">Update</a>
              </div>
              <p class="help" style="font-size:14px; color:#276CDA">The expiry date of the vehicle's registration certificate.</p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Insurance</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                        ng-disabled="vm.disabled"
                        type="date" ng-model="vm.officer.insurance">
                <a class="button is-primary"
                          ng-disabled="vm.disabled"
                          ng-click="vm.updateDoc(vm.officer.docs[3].id, vm.officer.insurance, vm.officer.id)">Update</a>
              </div>
              <p class="help" style="font-size:14px; color:#276CDA">The expiry date of the certificate of insurance.</p>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="box">
      <div class="level">
        <div class="level-left">
          <h1 class="subtitle is-5" style="color:red">Remove from Database</h1>
        </div>
        <div class="level-right"></div>
      </div>
      <hr />
      <p>
        Please be certain that you want to remove <span style="text-transform:capitalize"><strong>{{vm.officer.name}}</strong></span>
        from the Traveling Officers Database.
      </p>
      <a class="button is-danger"
        style="margin-top:12px"
        ng-disabled="!vm.isOfficer"
        ng-click="vm.toggle()">Remove Officer</a>
    </div>
  </div>

  <div class="modal ng-class:{'is-active': vm.active}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
        <h1 class="subtitle is-5">Are you sure?</h1>
        <hr />
        <p style="margin-bottom: 12px">
          Please type the name of the traveling officer <strong>({{vm.officer.name}})</strong> to confirm.
        </p>
        <div class="field">
          <div class="control">
            <input class="input" type="text" ng-model="vm.confirm">
          </div>
        </div>
        <a class="is-light button" style="color:red" ng-click="vm.removeOfficer()">
          I understand the consequences, remove&nbsp<span class="capitalize">{{vm.officer.name}}
          </span>
        </a>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" ng-click="vm.toggle()"></button>
  </div>

  <div class="modal ng-class:{'is-active': vm.createActive}">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
        <h1 class="subtitle is-5">Add Vehicle</h1>
        <hr />

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Plate #</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input form-ctrl-date"
                       type="text"
                       ng-model="vm.vehicle.plate"
                       maxlength="6"
                       placeholder="e.g. 3399AD">
              </div>
            </div>
          </div>
        </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Make</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input form-ctrl-date"
                           type="text"
                           ng-model="vm.vehicle.make"
                           placeholder="e.g. Honda">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Model</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input form-ctrl-date"
                           type="text"
                           ng-model="vm.vehicle.model"
                           placeholder="e.g. Civic">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Year</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input form-ctrl-date"
                           type="text"
                           ng-model="vm.vehicle.year"
                           placeholder="e.g. 2002"
                           maxlength=4>
                  </div>
                </div>
              </div>
            </div>
            <hr />
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-light" ng-click="vm.toggleCreate()">
                    Cancel
                  </a>
                </p>
                  <p class="control">
                    <a class="button is-primary" ng-click="vm.saveVehicle()">
                      Save
                    </a>
                  </p>

              </div>

    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" ng-click="vm.toggleCreate()"></button>
  </div>
</div>
