<div class="container is-fluid">
<div ng-include="'views/nav/nav-bar.html'"></div>
<div class="notification-area">
  <div ng-class="{'notification is-primary': vm.notification.success}"
        ng-show="vm.notification.show">
    {{vm.notification.text}}
  </div>
</div>
<div class="level" style="margin-top:24px;">
  <div class="level-left"></div>
  <div class="level-right"></div>
</div>
<div class="columns">
  <div class="column is-2" ng-include="'views/apps/tod/side-menu.html'"></div>
  <div class="column is-10">

    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Filter officers by name" ng-model="search">
      </div>
    </div>

    <table class="table is-fullwidth" style="padding-bottom: 30px;">
        <thead>
          <tr style="text-transform:uppercase; font-weight:bold;font-size:14px;">
            <th>name</th>
            <th>classification</th>
            <th>department/activity</th>
            <th>documents</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="officer in vm.officers | filter:search" style="font-size:15px;text-transform: capitalize">
            <td>{{officer.name}}</td>
            <td>{{officer.classification}}</td>
            <td>{{officer.department}}</td>
            <td>
              <p ng-repeat="doc in officer.docs" style="color:#FF2B56">
                {{doc.title}} - {{doc.expiry_date | date: 'EEE, MMMM d, yyyy'}}
              </p>
            </td>
            <td><a ng-href="#!/dashboard/apps/tod/officers/{{officer.employee_id}}/edit" style="color: #1F78D1" ng-if="vm.canUpdate">Edit</a></td>
            <td><a href style="color: #1F78D1" ng-click="vm.notifyOfficer( officer )" ng-if="vm.canUpdate">Notify</a></td>
          </tr>
        </tbody>
      </table>
  </div>

</div> <!-- end of columns -->

<div class="modal ng-class:{'is-active': vm.active}">
<div class="modal-background"></div>
<div class="modal-content">
  <div class="box">
      <h1 class="subtitle is-5" style="color:#276CDA">Send Notification</h1>
      <p style="margin-bottom: 12px">
        An email will be sent notifying <strong><span class="capitalize">{{vm.docs[0].name}}</span></strong> of the following outstanding
        vehicle documents:
      </p>
      <ul style="margin-bottom:12px;background-color:#f5f5f5;padding:12px">
        <li ng-repeat="doc in vm.docs" class="capitalize">
          <strong>{{doc.title}} - {{doc.expiry_date | date: 'EEEE, MMMM d, yyyy'}}</strong>
        </li>
      </ul>
      <a class="is-light button" ng-click="vm.toggle()">
        Cancel
        </span>
      </a>
      <a class="is-info button" ng-click="vm.sendNotification( vm.docs )">
        Send notification
        </span>
      </a>
  </div>
</div>
<button class="modal-close is-large" aria-label="close" ng-click="vm.toggle()"></button>
</div>
</div> <!-- end of container -->
