<ul>
  <li ng-class="{'is-active': activetab == 'notifications'}"><a ng-href="#!/dashboard/apps/pmas/plans/1/notifications">Notifications (10)</a></li>
  <li ng-class="{'is-active': activetab == 'work-plan'}"><a ng-href="#!/dashboard/apps/pmas/plans/1/work-plan">Work Plan (10)</a></li>
  <li ng-class="{'is-active': activetab == 'resource-needs'}"><a ng-href="#!/dashboard/apps/pmas/plans/1/resource-needs">Resource Needs (10)</a></li>
  <li ng-class="{'is-active': activetab == 'work-plan-changes'}"><a ng-href="#!/dashboard/apps/pmas/plans/1/work-plan-changes">Work Plan Changes (10)</a></li>
</ul>
